html {
    height: 100%;
}
body{
    height: 100%;
}
#root{
    height: 100%;
    background-color: #f4f5f7;
}
.bg-color{
    height: 100%;
    font-family: 'Roboto Slab', serif;
    width: 80%;
}

.header{
    padding: 0;
    margin-bottom: 20px;
}

.container .jumbotron {
    padding-left: 0;
    box-shadow:  3px 3px 5px 6px #ccc;
    background-color: #37383a;
    color: white;
}

.action{
    margin-bottom: 10px;
}

.big-button{
    padding: 0;
    font-size: 32px;
    font-weight: 600;
    padding: 5px 0;
    background-color: #827775;
}

.options-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.options-header h3{
    margin-top: 0;
}

.options-header button {
    border: 1px solid;
}

.options{
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 17px;
    margin-bottom: 10px;
}

.option{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.option span{
    padding: 0 15px;
}


.option-text{
    font-weight: 500;
    font-size: 20px;
}


.add-option-error{
    font-size: 30px; 
}

.add-option{
    display: flex;
}

.add-option__input{
    flex-grow: 1;
    margin-right: 5px;
    padding: 5px;
    outline: none;
}